/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#question {
    font-size: 18px;
    font-weight: bold;
}

#answers-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.answer {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    text-align: left;
}

#score-container {
    text-align: right;
    font-weight: bold;
}

button.answer:hover {
    background-color: #0056b3;
}
